# API Keys

GOOGLE_API_KEY=
API_KEY=

# App Configuration

PAGE_TITLE="School Status Report Generation"
PAGE_LAYOUT="centered"
SCHOOL_FILENAME="school_data.xlsx"

# Model Settings

GEMINI_MODEL_NAME="gemini-2.5-flash-lite"
MODEL_NAME="qwen3:1.7b"
MODEL_TEMP=0.7

# Matching Threshold

FUZZY_SCORE_THRESHOLD=65

# Feature Flags

ENABLE_IMPROVEMENT_SUGGESTION=false
ENABLE_REMARK_REPHRASE=false
MAX_REPHRASE_RETRIES=3

# Punjabi Font Settings

PUNJABI_FONT_LOADED=false
PUNJABI_REGULAR_FONT_PATH="src/punjabi_font/NotoSansGurmukhi-Regular.ttf"
PUNJABI_BOLD_FONT_PATH="src/punjabi_font/NotoSansGurmukhi-Bold.ttf"

# File Paths

SCHOOL_LIST_PATH="school_data.xlsx"